<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal</title>
    <link rel="stylesheet" href="../css/menu_style.css">
</head>
<body>
    <div>
        <h2>Menú Principal</h2>
        <ul>
            <li><a href="../functions/current_students.php">Reporte: Cantidad de estudiantes vigentes dentro y fuera de nivel</a></li>
            <li><a href="../functions/approval_percentage.php">Reporte: Porcentaje de aprobación periodo</a></li>
            <li><a href="../functions/teacher_approvalMedian.php">Reporte: Promedio del Porcentaje de aprobación histórico por profesor</a></li>
            <li><a href="../functions/propose_classes.php">Resporte de Proyección de cursos 2025 para estudiante</a></li>
            <li><a href="../functions/academic_history.php">Historial académico de estudiante</a></li>
            <li><a href="../functions/load_course_grades.php">Carga de notas desde el archivo CSV</a></li>
        </ul>
    </div>
</body>
</html>